.spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
  mat-toolbar{
    background: linear-gradient(135deg, #667eea, #764ba2);

  }